/*Github Update Testing*/
.theme {
  color: #726439;
  background-color: #fcf4c1;
}

.theme-alt {
  color: #fcf4c1;
  background-color: #726439;
}

.font-o {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* Update font weights for both themes */
  font-weight: 400; /* Normal weight for theme */
  font-style: normal;
}

.theme-alt .font-o {
  /* Adjust font weight for alternative theme */
  font-weight: 700; /* Bold weight for alternative theme */
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}


.dcenter {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  margin-top: 35px;
  font-size: 5em;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

ul {
  list-style-type: none; /* Remove default bullet points */
}

ul[title]::before {
  content: attr(title);
  display: block;
  font-weight: bold;
  padding: 4px;
  font-size: 2em;
}

.objetivo {
  padding: 4px;
  font-size: 2em;
} 


.nav-container {
  position: fixed;
  bottom: 20px;
  left: 50%; /* Set left position to 50% */
  transform: translateX(-50%); /* Translate it back by half of its own width */
  width: auto;
  max-width: 80%;
  background-color: #fcf4c1;
  padding: 10px;
  border-radius: 10px;
  border: 0px solid #726439;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-container a {
  padding: 10px 20px;
  background-color: #726439;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.nav-container:hover a:not(:hover) {
  transform: scale(0.9); /* Reduce the size of other links when one of them is hovered */
  opacity: 0.5;
}

.nav-container a:hover {
  transform: translateY(-5px);
  opacity: 1;
}

.objective {
  float: right; /* Float to the right side */
  width: 45%; /* Set width */
  margin-top: 20px; /* Add top margin */
  text-align: right; /* Align text to the right */
}
.objective h2 {
  font-size: 2em; /* Adjust heading size */
  text-align: right; /* Align heading to the right */
}
.objective p {
  font-size: 1em; /* Adjust paragraph font size */
  line-height: 1.5; /* Adjust line height */
  margin-bottom: 15px; /* Add bottom margin */
  text-align: justify; /* Justify paragraph text */
}
